.register {
    text-align: center;
}

.register p {
    color: #aaa;
}

/* form styles */
form {
    max-width: 40%;
    margin: 0 auto;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

label span {
    margin-bottom: .3em;
    font-weight: bold;
    text-align: left;
}

input, 
textarea {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #CCC;
    padding: .8em 0;
    background-color: transparent;
}